controller_manager:
  ros__parameters:
    update_rate: 50  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    lrmate_200id_controller:
      type: joint_trajectory_controller/JointTrajectoryController
      interpolation_method: none

# legacy key renamed
lrmate_200id_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    
    command_interfaces:
      - position

    state_interfaces:
      - position
