controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    lrmate_200id_controller:
      # type: ros2_control_demo_lrmate_200id/RobotController
      type: joint_trajectory_controller/JointTrajectoryController
      # type: forward_command_controller/ForwardCommandController

# legacy key renamed
lrmate_200id_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    
    # 對於 ForwardCommandController，這個參數是必須的
    # interface_name: position

    command_interfaces:
      - position

    state_interfaces:
      - position
